<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodie_guardv0"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.example.foodie_guardv0.Activity.EditUser"
            android:exported="false" />
        <activity
            android:name="com.example.foodie_guardv0.Activity.MenuRestaurant"
            android:exported="false" />
        <activity
            android:name="com.example.foodie_guardv0.Activity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.foodie_guardv0.Activity.PremiumActivity"
            android:exported="false" />
        <activity
            android:name="com.example.foodie_guardv0.Activity.MapView"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="com.example.foodie_guardv0.Activity.CalendarActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- android:theme="@style/Theme.Foodie_guardv0" -->
        <activity
            android:name="com.example.foodie_guardv0.Activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Splashcreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.foodie_guardv0.Activity.LoginActivity"
            android:label="@string/login_activity_label"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.foodie_guardv0.Activity.HomeActivity"
            android:label="Home Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.foodie_guardv0.Activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

            <!-- Puedes tener más configuraciones aquí según tus necesidades -->
        </activity>
        <activity
            android:name="com.example.foodie_guardv0.Activity.InfoRestaurant"
            android:screenOrientation="portrait">

            <!-- Intent filters or other activity configurations -->
        </activity>
        <activity
            android:name="com.example.foodie_guardv0.Activity.AddRestaurantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>